In [1]:
import pandas as pd
import turicreate

df = pd.read_csv('/users/john.tung/Downloads/April_vod.csv')
df.head()

,datetime,date,time,day,weekday,accountID,device_type,media_type,assetID
0,2020-04-01 19:40:08,2020-04-01,19:40:08,1,3,2A006D97750B308B,tv,vod,vod10549-000000M001_1500K
1,2020-04-01 19:31:14,2020-04-01,19:31:14,1,3,2A00B65D5D5B5823,mobile,vod,vod40932-000029M001_1500K
2,2020-04-01 18:57:36,2020-04-01,18:57:36,1,3,2A00FB754B6E0F0A,tv,vod,vod41211-000078M001_1500K
3,2020-04-01 18:38:25,2020-04-01,18:38:25,1,3,2A0056B34E84A185,tv,vod,vod39623-000001M001_1500K
4,2020-04-01 18:44:34,2020-04-01,18:44:34,1,3,2A00F9C9ADBEEACF,mobile,vod,vod40831-000003M001_1500K

In [2]:
df = df.drop(columns=['datetime', 'date', 'time', 'day', 'weekday', 'device_type', 'media_type'])
df['assetID'] = [id_.split('-')[0] for id_ in df['assetID']]
df.head()

          accountID   assetID
0  2A006D97750B308B  vod10549
1  2A00B65D5D5B5823  vod40932
2  2A00FB754B6E0F0A  vod41211
3  2A0056B34E84A185  vod39623
4  2A00F9C9ADBEEACF  vod40831

In [10]:
df = pd.DataFrame({'sum':df.groupby(['accountID', 'assetID']).size()}).reset_index()
df.head()

          accountID   assetID  sum
0  2A0000005180228A  vod41382    2
1  2A000000BDFC3956  vod13908   11
2  2A000000BDFC3956  vod19087    6
3  2A000000CB49B1FF  vod42003    1
4  2A0000015AC75284  vod41728    9

In [11]:
data = turicreate.SFrame(df)
data.head()

Columns:
	accountID	str
	assetID	str
	sum	int

Rows: 10

Data:
+------------------+----------+-----+
|    accountID     | assetID  | sum |
+------------------+----------+-----+
| 2A0000005180228A | vod41382 |  2  |
| 2A000000BDFC3956 | vod13908 |  11 |
| 2A000000BDFC3956 | vod19087 |  6  |
| 2A000000CB49B1FF | vod42003 |  1  |
| 2A0000015AC75284 | vod41728 |  9  |
| 2A0000015AC75284 | vod41940 |  2  |
| 2A0000015AC75284 | vod42046 |  4  |
| 2A00000510F26CC4 | vod17762 |  10 |
| 2A00000510F26CC4 | vod41413 |  1  |
| 2A0000051E2EEFEB | vod37760 |  2  |
+------------------+----------+-----+
[10 rows x 3 columns]

In [12]:
popularity_model = turicreate.popularity_recommender.create(data, user_id='accountID', item_id='assetID', target='sum')
popularity_model

Preparing data set.

    Data has 351665 observations with 79807 users and 5419 items.

    Data prepared in: 0.561786s

351665 observations to process; with 5419 unique items.

Class                            : PopularityRecommender

Schema
------
User ID                          : accountID
Item ID                          : assetID
Target                           : sum
Additional observation features  : 0
User side features               : []
Item side features               : []

Statistics
----------
Number of observations           : 351665
Number of users                  : 79807
Number of items                  : 5419

Training summary
----------------
Training time                    : 0.0541

Model Parameters
----------------
Model class                      : PopularityRecommender

In [42]:
popularity_recomm = popularity_model.recommend(users=['2A00000510F26CC4'],k=10)
popularity_recomm

Columns:
	accountID	str
	assetID	str
	score	float
	rank	int

Rows: 10

Data:
+------------------+----------+--------------------+------+
|    accountID     | assetID  |       score        | rank |
+------------------+----------+--------------------+------+
| 2A00000510F26CC4 | vod30937 |        82.5        |  1   |
| 2A00000510F26CC4 | vod11265 | 80.17647058823529  |  2   |
| 2A00000510F26CC4 | vod10097 | 75.05263157894737  |  3   |
| 2A00000510F26CC4 | vod11066 | 71.33582089552239  |  4   |
| 2A00000510F26CC4 | vod17553 | 55.55882352941177  |  5   |
| 2A00000510F26CC4 | vod11228 | 50.888888888888886 |  6   |
| 2A00000510F26CC4 | vod11103 | 46.17391304347826  |  7   |
| 2A00000510F26CC4 | vod8696  | 45.424050632911396 |  8   |
| 2A00000510F26CC4 | vod37081 | 44.400711020822754 |  9   |
| 2A00000510F26CC4 | vod29410 | 41.527472527472526 |  10  |
+------------------+----------+--------------------+------+
[10 rows x 4 columns]

In [15]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.9.3-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 421 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [16]:
import pymysql

In [43]:
popularity_recomm = popularity_recomm.remove_column('score')
popularity_recomm

Columns:
	accountID	str
	assetID	str
	rank	int

Rows: 10

Data:
+------------------+----------+------+
|    accountID     | assetID  | rank |
+------------------+----------+------+
| 2A00000510F26CC4 | vod30937 |  1   |
| 2A00000510F26CC4 | vod11265 |  2   |
| 2A00000510F26CC4 | vod10097 |  3   |
| 2A00000510F26CC4 | vod11066 |  4   |
| 2A00000510F26CC4 | vod17553 |  5   |
| 2A00000510F26CC4 | vod11228 |  6   |
| 2A00000510F26CC4 | vod11103 |  7   |
| 2A00000510F26CC4 | vod8696  |  8   |
| 2A00000510F26CC4 | vod37081 |  9   |
| 2A00000510F26CC4 | vod29410 |  10  |
+------------------+----------+------+
[10 rows x 3 columns]

In [44]:
conn = pymysql.connect(host='35.201.241.101',  
                       user='staging_cdi', 
                       passwd='w4raAVvIJFGD6xz5k6wQ8nhEV', 
                       db='ccc', 
                       port=3306)
cur = conn.cursor()

popularity_recomm.to_sql(conn, 'ml_recommendations')