### 資料來源：[開放台灣民間租屋資料](https://rentalhouse.g0v.ddio.io/download)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# 地圖 package
import folium
# 不輸出警告
import warnings
warnings.filterwarnings("ignore")


# 讀入資料
houserent_Q1_df = pd.read_csv('/Users/john.tung/Downloads/rent_house/2019Q1-deduplicated.csv')
houserent_Q2_df = pd.read_csv('/Users/john.tung/Downloads/rent_house/2019Q2-deduplicated.csv')
houserent_Q3_df = pd.read_csv('/Users/john.tung/Downloads/rent_house/2019Q3-deduplicated.csv')

print(houserent_Q1_df.info())
print(houserent_Q2_df.info())
print(houserent_Q3_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217511 entries, 0 to 217510
Data columns (total 86 columns):
重複物件數              217511 non-null int64
最大物件編號             217511 non-null int64
最小物件編號             217511 non-null int64
最大物件首次發現時間         217511 non-null object
最小物件首次發現時間         217511 non-null object
租屋平台               217511 non-null object
縣市                 217511 non-null int64
鄉鎮市區               217511 non-null int64
約略地點範圍             217511 non-null object
房屋曾出租過             217511 non-null int64
最後出租時間             217511 non-null object
最大出租所費天數           217511 non-null object
月租金                217511 non-null object
押金類型               217511 non-null int64
押金月數               217511 non-null object
押金金額               217511 non-null object
需要管理費？             217511 non-null object
月管理費               217511 non-null object
提供車位？              217511 non-null object
需要停車費？             217511 non-null object
月停車費               217511 non-null object
每坪租金（含管理費與停車費）     217511 non-null float64
建築類型               217511 non-null int64
物件類型               217511 non-null int64
自報頂加？              217511 non-null object
所在樓層               217511 non-null int64
建物樓高               217511 non-null int64
距頂樓層數              217511 non-null int64
坪數                 217511 non-null float64
陽台數                217511 non-null object
衛浴數                217511 non-null object
房數                 217511 non-null object
客廳數                217511 non-null object
格局編碼（陽台/衛浴/房/廳）    217511 non-null object
額外費用_電費？           217511 non-null object
額外費用_水費？           217511 non-null object
額外費用_瓦斯？           217511 non-null object
額外費用_網路？           217511 non-null object
額外費用_第四台？          217511 non-null object
附近有_學校？            217511 non-null object
附近有_公園？            217511 non-null object
附近有_百貨公司？          217511 non-null object
附近有_超商？            217511 non-null object
附近有_傳統市場？          217511 non-null object
附近有_夜市？            217511 non-null object
附近有_醫療機構？          217511 non-null object
附近的捷運站數            217511 non-null object
附近的公車站數            217511 non-null object
附近的火車站數            217511 non-null object
附近的高鐵站數            217511 non-null object
附近的公共自行車數（實驗中）     217511 non-null object
有身份限制？             217511 non-null object
有性別限制？             217511 non-null object
性別限制               217511 non-null int64
可炊？                217511 non-null object
可寵？                217511 non-null object
有產權登記？             217511 non-null object
刊登者類型              217511 non-null int64
最大刊登者編碼            217511 non-null object
仲介資訊               217509 non-null object
提供家具_床？            217511 non-null object
提供家具_桌子？           217511 non-null object
提供家具_椅子？           217511 non-null object
提供家具_電視？           217511 non-null object
提供家具_熱水器？          217511 non-null object
提供家具_冷氣？           217511 non-null object
提供家具_沙發？           217511 non-null object
提供家具_洗衣機？          217511 non-null object
提供家具_衣櫃？           217511 non-null object
提供家具_冰箱？           217511 non-null object
提供家具_網路？           217511 non-null object
提供家具_第四台？          217511 non-null object
提供家具_天然瓦斯？         217511 non-null object
提供家具_床？.1          217511 non-null object
提供家具_桌子？.1         217511 non-null object
提供家具_椅子？.1         217511 non-null object
提供家具_電視？.1         217511 non-null object
提供家具_熱水器？.1        217511 non-null object
提供家具_冷氣？.1         217511 non-null object
提供家具_沙發？.1         217511 non-null object
提供家具_洗衣機？.1        217511 non-null object
提供家具_衣櫃？.1         217511 non-null object
提供家具_冰箱？.1         217511 non-null object
提供家具_網路？.1         217511 non-null object
提供家具_第四台？.1        217511 non-null object
提供家具_天然瓦斯？.1       217511 non-null object
dtypes: float64(2), int64(14), object(70)
memory usage: 142.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242313 entries, 0 to 242312
Data columns (total 86 columns):
重複物件數              242313 non-null int64
最大物件編號             242313 non-null int64
最小物件編號             242313 non-null int64
最大物件首次發現時間         242313 non-null object
最小物件首次發現時間         242313 non-null object
租屋平台               242313 non-null object
縣市                 242313 non-null int64
鄉鎮市區               242313 non-null int64
約略地點範圍             242313 non-null object
房屋曾出租過             242313 non-null int64
最後出租時間             242313 non-null object
最大出租所費天數           242313 non-null object
月租金                242313 non-null object
押金類型               242313 non-null object
押金月數               242313 non-null object
押金金額               242313 non-null object
需要管理費？             242313 non-null object
月管理費               242313 non-null object
提供車位？              242313 non-null object
需要停車費？             242313 non-null object
月停車費               242313 non-null object
每坪租金（含管理費與停車費）     242313 non-null float64
建築類型               242313 non-null int64
物件類型               242313 non-null int64
自報頂加？              242313 non-null object
所在樓層               242313 non-null int64
建物樓高               242313 non-null int64
距頂樓層數              242313 non-null object
坪數                 242313 non-null float64
陽台數                242313 non-null object
衛浴數                242313 non-null object
房數                 242313 non-null object
客廳數                242313 non-null object
格局編碼（陽台/衛浴/房/廳）    242313 non-null object
額外費用_電費？           242313 non-null object
額外費用_水費？           242313 non-null object
額外費用_瓦斯？           242313 non-null object
額外費用_網路？           242313 non-null object
額外費用_第四台？          242313 non-null object
附近有_學校？            242313 non-null object
附近有_公園？            242313 non-null object
附近有_百貨公司？          242313 non-null object
附近有_超商？            242313 non-null object
附近有_傳統市場？          242313 non-null object
附近有_夜市？            242313 non-null object
附近有_醫療機構？          242313 non-null object
附近的捷運站數            242313 non-null object
附近的公車站數            242313 non-null object
附近的火車站數            242313 non-null object
附近的高鐵站數            242313 non-null object
附近的公共自行車數（實驗中）     242313 non-null object
有身份限制？             242313 non-null object
有性別限制？             242313 non-null object
性別限制               242313 non-null int64
可炊？                242313 non-null object
可寵？                242313 non-null object
有產權登記？             242313 non-null object
刊登者類型              242313 non-null int64
最大刊登者編碼            242313 non-null object
仲介資訊               242311 non-null object
提供家具_床？            242313 non-null object
提供家具_桌子？           242313 non-null object
提供家具_椅子？           242313 non-null object
提供家具_電視？           242313 non-null object
提供家具_熱水器？          242313 non-null object
提供家具_冷氣？           242313 non-null object
提供家具_沙發？           242313 non-null object
提供家具_洗衣機？          242313 non-null object
提供家具_衣櫃？           242313 non-null object
提供家具_冰箱？           242313 non-null object
提供家具_網路？           242313 non-null object
提供家具_第四台？          242313 non-null object
提供家具_天然瓦斯？         242313 non-null object
提供家具_床？.1          242313 non-null object
提供家具_桌子？.1         242313 non-null object
提供家具_椅子？.1         242313 non-null object
提供家具_電視？.1         242313 non-null object
提供家具_熱水器？.1        242313 non-null object
提供家具_冷氣？.1         242313 non-null object
提供家具_沙發？.1         242313 non-null object
提供家具_洗衣機？.1        242313 non-null object
提供家具_衣櫃？.1         242313 non-null object
提供家具_冰箱？.1         242313 non-null object
提供家具_網路？.1         242313 non-null object
提供家具_第四台？.1        242313 non-null object
提供家具_天然瓦斯？.1       242313 non-null object
dtypes: float64(2), int64(12), object(72)
memory usage: 159.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245975 entries, 0 to 245974
Data columns (total 86 columns):
重複物件數              245975 non-null int64
最大物件編號             245975 non-null int64
最小物件編號             245975 non-null int64
最大物件首次發現時間         245975 non-null object
最小物件首次發現時間         245975 non-null object
租屋平台               245975 non-null object
縣市                 245975 non-null int64
鄉鎮市區               245975 non-null int64
約略地點範圍             245975 non-null object
房屋曾出租過             245975 non-null int64
最後出租時間             245975 non-null object
最大出租所費天數           245975 non-null object
月租金                245975 non-null object
押金類型               245975 non-null int64
押金月數               245975 non-null object
押金金額               245975 non-null object
需要管理費？             245975 non-null object
月管理費               245975 non-null object
提供車位？              245975 non-null object
需要停車費？             245975 non-null object
月停車費               245975 non-null object
每坪租金（含管理費與停車費）     245975 non-null float64
建築類型               245975 non-null int64
物件類型               245975 non-null int64
自報頂加？              245975 non-null object
所在樓層               245975 non-null int64
建物樓高               245975 non-null int64
距頂樓層數              245975 non-null int64
坪數                 245975 non-null float64
陽台數                245975 non-null object
衛浴數                245975 non-null object
房數                 245975 non-null object
客廳數                245975 non-null object
格局編碼（陽台/衛浴/房/廳）    245975 non-null object
額外費用_電費？           245975 non-null object
額外費用_水費？           245975 non-null object
額外費用_瓦斯？           245975 non-null object
額外費用_網路？           245975 non-null object
額外費用_第四台？          245975 non-null object
附近有_學校？            245975 non-null object
附近有_公園？            245975 non-null object
附近有_百貨公司？          245975 non-null object
附近有_超商？            245975 non-null object
附近有_傳統市場？          245975 non-null object
附近有_夜市？            245975 non-null object
附近有_醫療機構？          245975 non-null object
附近的捷運站數            245975 non-null object
附近的公車站數            245975 non-null object
附近的火車站數            245975 non-null object
附近的高鐵站數            245975 non-null object
附近的公共自行車數（實驗中）     245975 non-null object
有身份限制？             245975 non-null object
有性別限制？             245975 non-null object
性別限制               245975 non-null int64
可炊？                245975 non-null object
可寵？                245975 non-null object
有產權登記？             245975 non-null object
刊登者類型              245975 non-null int64
最大刊登者編碼            245975 non-null object
仲介資訊               245975 non-null object
提供家具_床？            245975 non-null object
提供家具_桌子？           245975 non-null object
提供家具_椅子？           245975 non-null object
提供家具_電視？           245975 non-null object
提供家具_熱水器？          245975 non-null object
提供家具_冷氣？           245975 non-null object
提供家具_沙發？           245975 non-null object
提供家具_洗衣機？          245975 non-null object
提供家具_衣櫃？           245975 non-null object
提供家具_冰箱？           245975 non-null object
提供家具_網路？           245975 non-null object
提供家具_第四台？          245975 non-null object
提供家具_天然瓦斯？         245975 non-null object
提供家具_床？.1          245975 non-null object
提供家具_桌子？.1         245975 non-null object
提供家具_椅子？.1         245975 non-null object
提供家具_電視？.1         245975 non-null object
提供家具_熱水器？.1        245975 non-null object
提供家具_冷氣？.1         245975 non-null object
提供家具_沙發？.1         245975 non-null object
提供家具_洗衣機？.1        245975 non-null object
提供家具_衣櫃？.1         245975 non-null object
提供家具_冰箱？.1         245975 non-null object
提供家具_網路？.1         245975 non-null object
提供家具_第四台？.1        245975 non-null object
提供家具_天然瓦斯？.1       245975 non-null object
dtypes: float64(2), int64(14), object(70)
memory usage: 161.4+ MB
None

### 將三季資料合為一張表

In [2]:
houserent_df = pd.concat([houserent_Q1_df, houserent_Q2_df, houserent_Q3_df], axis=0)
print(houserent_df.shape)
houserent_df.head()

(705799, 86)

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區,約略地點範圍,房屋曾出租過,...,提供家具_電視？.1,提供家具_熱水器？.1,提供家具_冷氣？.1,提供家具_沙發？.1,提供家具_洗衣機？.1,提供家具_衣櫃？.1,提供家具_冰箱？.1,提供家具_網路？.1,提供家具_第四台？.1,提供家具_天然瓦斯？.1
0,1,1018695,1018695,2018-12-10 04:44:50 CST,2018-12-10 04:44:50 CST,591 租屋網,18,1806,"(23.009119, 120.221691, 23.009119, 120.221691)",1,...,T,T,F,F,T,T,T,T,F,F
1,1,1094676,1094676,2019-01-09 04:42:33 CST,2019-01-09 04:42:33 CST,591 租屋網,25,2528,"(22.621758, 120.318962, 22.621758, 120.318962)",1,...,T,T,T,F,F,F,T,F,F,F
2,1,1095717,1095717,2019-03-19 04:27:55 CST,2019-03-19 04:27:55 CST,591 租屋網,11,1111,"(25.002299, 121.454963, 25.002299, 121.454963)",1,...,F,T,T,F,F,T,F,F,F,T
3,1,1135496,1135496,2019-01-30 04:09:23 CST,2019-01-30 04:09:23 CST,591 租屋網,17,1708,"(25.0360616, 121.560653, 25.0360616, 121.560653)",1,...,-,-,-,-,-,-,-,-,-,-
4,1,1175430,1175430,2018-12-10 04:12:14 CST,2018-12-10 04:12:14 CST,591 租屋網,17,1706,"(25.0966454, 121.5401611, 25.0966454, 121.5401...",1,...,T,F,T,T,T,T,T,T,T,T

### 篩出臺北市資料

In [3]:
taipei_houserent_df = houserent_df[houserent_df['縣市'] == 17]
print(taipei_houserent_df.shape)
taipei_houserent_df.head()

(137491, 86)

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區,約略地點範圍,房屋曾出租過,...,提供家具_電視？.1,提供家具_熱水器？.1,提供家具_冷氣？.1,提供家具_沙發？.1,提供家具_洗衣機？.1,提供家具_衣櫃？.1,提供家具_冰箱？.1,提供家具_網路？.1,提供家具_第四台？.1,提供家具_天然瓦斯？.1
3,1,1135496,1135496,2019-01-30 04:09:23 CST,2019-01-30 04:09:23 CST,591 租屋網,17,1708,"(25.0360616, 121.560653, 25.0360616, 121.560653)",1,...,-,-,-,-,-,-,-,-,-,-
4,1,1175430,1175430,2018-12-10 04:12:14 CST,2018-12-10 04:12:14 CST,591 租屋網,17,1706,"(25.0966454, 121.5401611, 25.0966454, 121.5401...",1,...,T,F,T,T,T,T,T,T,T,T
6,1,1202513,1202513,2019-02-27 04:05:55 CST,2019-02-27 04:05:55 CST,591 租屋網,17,1709,"(24.9858373, 121.5671734, 24.9858373, 121.5671...",2,...,F,T,T,F,F,T,F,F,F,T
9,1,128285,128285,2019-01-27 04:06:57 CST,2019-01-27 04:06:57 CST,591 租屋網,17,1709,"(24.997309, 121.550884, 24.997309, 121.550884)",2,...,F,T,T,F,T,T,T,T,F,T
10,1,1329657,1329657,2019-01-22 04:05:49 CST,2019-01-22 04:05:49 CST,591 租屋網,17,1709,"(25.005247, 121.541557, 25.005247, 121.541557)",1,...,T,T,T,F,T,T,T,T,T,F

In [4]:
# 了解有哪些欄位
taipei_houserent_df.columns

Index(['重複物件數', '最大物件編號', '最小物件編號', '最大物件首次發現時間', '最小物件首次發現時間', '租屋平台', '縣市',
       '鄉鎮市區', '約略地點範圍', '房屋曾出租過', '最後出租時間', '最大出租所費天數', '月租金', '押金類型', '押金月數',
       '押金金額', '需要管理費？', '月管理費', '提供車位？', '需要停車費？', '月停車費', '每坪租金（含管理費與停車費）',
       '建築類型', '物件類型', '自報頂加？', '所在樓層', '建物樓高', '距頂樓層數', '坪數', '陽台數', '衛浴數',
       '房數', '客廳數', '格局編碼（陽台/衛浴/房/廳）', '額外費用_電費？', '額外費用_水費？', '額外費用_瓦斯？',
       '額外費用_網路？', '額外費用_第四台？', '附近有_學校？', '附近有_公園？', '附近有_百貨公司？', '附近有_超商？',
       '附近有_傳統市場？', '附近有_夜市？', '附近有_醫療機構？', '附近的捷運站數', '附近的公車站數', '附近的火車站數',
       '附近的高鐵站數', '附近的公共自行車數（實驗中）', '有身份限制？', '有性別限制？', '性別限制', '可炊？', '可寵？',
       '有產權登記？', '刊登者類型', '最大刊登者編碼', '仲介資訊', '提供家具_床？', '提供家具_桌子？', '提供家具_椅子？',
       '提供家具_電視？', '提供家具_熱水器？', '提供家具_冷氣？', '提供家具_沙發？', '提供家具_洗衣機？',
       '提供家具_衣櫃？', '提供家具_冰箱？', '提供家具_網路？', '提供家具_第四台？', '提供家具_天然瓦斯？',
       '提供家具_床？.1', '提供家具_桌子？.1', '提供家具_椅子？.1', '提供家具_電視？.1', '提供家具_熱水器？.1',
       '提供家具_冷氣？.1', '提供家具_沙發？.1', '提供家具_洗衣機？.1', '提供家具_衣櫃？.1', '提供家具_冰箱？.1',
       '提供家具_網路？.1', '提供家具_第四台？.1', '提供家具_天然瓦斯？.1'],
      dtype='object')

### 將鄉鎮市區轉為文字

In [5]:
aria_df = pd.read_csv('/Users/john.tung/Downloads/rent_house/編碼表/編碼表.鄉鎮市區.csv')
aria_df = aria_df[aria_df['代表'].str.contains('臺北市')]
aria_df['代表'] = [aria.replace('臺北市', '') for aria in aria_df['代表']]
aria_df

       編碼   代表        發行日期
204  1700  中山區  2018/05/31
205  1701  中正區  2018/05/31
206  1702  信義區  2018/05/31
207  1703  內湖區  2018/05/31
208  1704  北投區  2018/05/31
209  1705  南港區  2018/05/31
210  1706  士林區  2018/05/31
211  1707  大同區  2018/05/31
212  1708  大安區  2018/05/31
213  1709  文山區  2018/05/31
214  1710  松山區  2018/05/31
215  1711  萬華區  2018/05/31

### 轉換為適合 merge 的欄位名稱

In [6]:
taipei_houserent_df = taipei_houserent_df.rename(columns={'鄉鎮市區':'鄉鎮市區編碼'})
taipei_houserent_df.head()

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區編碼,約略地點範圍,房屋曾出租過,...,提供家具_電視？.1,提供家具_熱水器？.1,提供家具_冷氣？.1,提供家具_沙發？.1,提供家具_洗衣機？.1,提供家具_衣櫃？.1,提供家具_冰箱？.1,提供家具_網路？.1,提供家具_第四台？.1,提供家具_天然瓦斯？.1
3,1,1135496,1135496,2019-01-30 04:09:23 CST,2019-01-30 04:09:23 CST,591 租屋網,17,1708,"(25.0360616, 121.560653, 25.0360616, 121.560653)",1,...,-,-,-,-,-,-,-,-,-,-
4,1,1175430,1175430,2018-12-10 04:12:14 CST,2018-12-10 04:12:14 CST,591 租屋網,17,1706,"(25.0966454, 121.5401611, 25.0966454, 121.5401...",1,...,T,F,T,T,T,T,T,T,T,T
6,1,1202513,1202513,2019-02-27 04:05:55 CST,2019-02-27 04:05:55 CST,591 租屋網,17,1709,"(24.9858373, 121.5671734, 24.9858373, 121.5671...",2,...,F,T,T,F,F,T,F,F,F,T
9,1,128285,128285,2019-01-27 04:06:57 CST,2019-01-27 04:06:57 CST,591 租屋網,17,1709,"(24.997309, 121.550884, 24.997309, 121.550884)",2,...,F,T,T,F,T,T,T,T,F,T
10,1,1329657,1329657,2019-01-22 04:05:49 CST,2019-01-22 04:05:49 CST,591 租屋網,17,1709,"(25.005247, 121.541557, 25.005247, 121.541557)",1,...,T,T,T,F,T,T,T,T,T,F

In [7]:
aria_df = aria_df.rename(columns={'編碼':'鄉鎮市區編碼', '代表':'鄉鎮市區'})
aria_df = aria_df.drop(columns= ['發行日期'])
aria_df

     鄉鎮市區編碼 鄉鎮市區
204    1700  中山區
205    1701  中正區
206    1702  信義區
207    1703  內湖區
208    1704  北投區
209    1705  南港區
210    1706  士林區
211    1707  大同區
212    1708  大安區
213    1709  文山區
214    1710  松山區
215    1711  萬華區

In [8]:
taipei_houserent_df = taipei_houserent_df.merge(aria_df, on=['鄉鎮市區編碼'])
taipei_houserent_df.head()

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區編碼,約略地點範圍,房屋曾出租過,...,提供家具_熱水器？.1,提供家具_冷氣？.1,提供家具_沙發？.1,提供家具_洗衣機？.1,提供家具_衣櫃？.1,提供家具_冰箱？.1,提供家具_網路？.1,提供家具_第四台？.1,提供家具_天然瓦斯？.1,鄉鎮市區
0,1,1135496,1135496,2019-01-30 04:09:23 CST,2019-01-30 04:09:23 CST,591 租屋網,17,1708,"(25.0360616, 121.560653, 25.0360616, 121.560653)",1,...,-,-,-,-,-,-,-,-,-,大安區
1,1,1478341,1478341,2019-03-19 04:06:41 CST,2019-03-19 04:06:41 CST,591 租屋網,17,1708,"(25.0218698, 121.5418841, 25.0218698, 121.5418...",0,...,F,T,F,T,T,T,T,T,T,大安區
2,1,2403154,2403154,2018-12-31 04:07:26 CST,2018-12-31 04:07:26 CST,591 租屋網,17,1708,"(25.023734, 121.541449, 25.023734, 121.541449)",2,...,T,T,T,F,T,T,F,F,F,大安區
3,1,2495359,2495359,2019-03-08 04:09:05 CST,2019-03-08 04:09:05 CST,591 租屋網,17,1708,"(25.0261631, 121.551178, 25.0261631, 121.551178)",0,...,T,T,F,F,T,F,F,F,T,大安區
4,1,2787218,2787218,2019-02-12 04:05:23 CST,2019-02-12 04:05:23 CST,591 租屋網,17,1708,"(25.0238814, 121.5522054, 25.0238814, 121.5522...",2,...,T,T,F,T,T,F,T,T,F,大安區

### 去除看起來沒用的欄位

In [9]:
taipei_houserent_df = taipei_houserent_df.drop(columns= ['縣市', '鄉鎮市區編碼', '租屋平台'])
taipei_houserent_df.head()

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,約略地點範圍,房屋曾出租過,最後出租時間,最大出租所費天數,月租金,...,提供家具_熱水器？.1,提供家具_冷氣？.1,提供家具_沙發？.1,提供家具_洗衣機？.1,提供家具_衣櫃？.1,提供家具_冰箱？.1,提供家具_網路？.1,提供家具_第四台？.1,提供家具_天然瓦斯？.1,鄉鎮市區
0,1,1135496,1135496,2019-01-30 04:09:23 CST,2019-01-30 04:09:23 CST,"(25.0360616, 121.560653, 25.0360616, 121.560653)",1,-,-,14000,...,-,-,-,-,-,-,-,-,-,大安區
1,1,1478341,1478341,2019-03-19 04:06:41 CST,2019-03-19 04:06:41 CST,"(25.0218698, 121.5418841, 25.0218698, 121.5418...",0,-,-,11000,...,F,T,F,T,T,T,T,T,T,大安區
2,1,2403154,2403154,2018-12-31 04:07:26 CST,2018-12-31 04:07:26 CST,"(25.023734, 121.541449, 25.023734, 121.541449)",2,2019-01-14 07:05:23 CST,15,27000,...,T,T,T,F,T,T,F,F,F,大安區
3,1,2495359,2495359,2019-03-08 04:09:05 CST,2019-03-08 04:09:05 CST,"(25.0261631, 121.551178, 25.0261631, 121.551178)",0,-,-,22000,...,T,T,F,F,T,F,F,F,T,大安區
4,1,2787218,2787218,2019-02-12 04:05:23 CST,2019-02-12 04:05:23 CST,"(25.0238814, 121.5522054, 25.0238814, 121.5522...",2,2019-02-14 06:24:51 CST,3,15500,...,T,T,F,T,T,F,T,T,F,大安區

In [10]:
# 再次確認欄位
taipei_houserent_df.columns

Index(['重複物件數', '最大物件編號', '最小物件編號', '最大物件首次發現時間', '最小物件首次發現時間', '約略地點範圍',
       '房屋曾出租過', '最後出租時間', '最大出租所費天數', '月租金', '押金類型', '押金月數', '押金金額', '需要管理費？',
       '月管理費', '提供車位？', '需要停車費？', '月停車費', '每坪租金（含管理費與停車費）', '建築類型', '物件類型',
       '自報頂加？', '所在樓層', '建物樓高', '距頂樓層數', '坪數', '陽台數', '衛浴數', '房數', '客廳數',
       '格局編碼（陽台/衛浴/房/廳）', '額外費用_電費？', '額外費用_水費？', '額外費用_瓦斯？', '額外費用_網路？',
       '額外費用_第四台？', '附近有_學校？', '附近有_公園？', '附近有_百貨公司？', '附近有_超商？', '附近有_傳統市場？',
       '附近有_夜市？', '附近有_醫療機構？', '附近的捷運站數', '附近的公車站數', '附近的火車站數', '附近的高鐵站數',
       '附近的公共自行車數（實驗中）', '有身份限制？', '有性別限制？', '性別限制', '可炊？', '可寵？', '有產權登記？',
       '刊登者類型', '最大刊登者編碼', '仲介資訊', '提供家具_床？', '提供家具_桌子？', '提供家具_椅子？',
       '提供家具_電視？', '提供家具_熱水器？', '提供家具_冷氣？', '提供家具_沙發？', '提供家具_洗衣機？',
       '提供家具_衣櫃？', '提供家具_冰箱？', '提供家具_網路？', '提供家具_第四台？', '提供家具_天然瓦斯？',
       '提供家具_床？.1', '提供家具_桌子？.1', '提供家具_椅子？.1', '提供家具_電視？.1', '提供家具_熱水器？.1',
       '提供家具_冷氣？.1', '提供家具_沙發？.1', '提供家具_洗衣機？.1', '提供家具_衣櫃？.1', '提供家具_冰箱？.1',
       '提供家具_網路？.1', '提供家具_第四台？.1', '提供家具_天然瓦斯？.1', '鄉鎮市區'],
      dtype='object')

In [25]:
taipei_houserent_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137491 entries, 0 to 137490
Data columns (total 84 columns):
重複物件數              137491 non-null int64
最大物件編號             137491 non-null int64
最小物件編號             137491 non-null int64
最大物件首次發現時間         137491 non-null object
最小物件首次發現時間         137491 non-null object
約略地點範圍             137491 non-null object
房屋曾出租過             137491 non-null int64
最後出租時間             137491 non-null object
最大出租所費天數           137491 non-null object
月租金                137491 non-null object
押金類型               137491 non-null object
押金月數               137491 non-null object
押金金額               137491 non-null object
需要管理費？             137491 non-null object
月管理費               137491 non-null object
提供車位？              137491 non-null object
需要停車費？             137491 non-null object
月停車費               137491 non-null object
每坪租金（含管理費與停車費）     137491 non-null float64
建築類型               137491 non-null int64
物件類型               137491 non-null int64
自報頂加？              137491 non-null object
所在樓層               137491 non-null int64
建物樓高               137491 non-null int64
距頂樓層數              137491 non-null object
坪數                 137491 non-null float64
陽台數                137491 non-null object
衛浴數                137491 non-null object
房數                 137491 non-null object
客廳數                137491 non-null object
格局編碼（陽台/衛浴/房/廳）    137491 non-null object
額外費用_電費？           137491 non-null object
額外費用_水費？           137491 non-null object
額外費用_瓦斯？           137491 non-null object
額外費用_網路？           137491 non-null object
額外費用_第四台？          137491 non-null object
附近有_學校？            137491 non-null object
附近有_公園？            137491 non-null object
附近有_百貨公司？          137491 non-null object
附近有_超商？            137491 non-null object
附近有_傳統市場？          137491 non-null object
附近有_夜市？            137491 non-null object
附近有_醫療機構？          137491 non-null object
附近的捷運站數            137491 non-null object
附近的公車站數            137491 non-null object
附近的火車站數            137491 non-null object
附近的高鐵站數            137491 non-null object
附近的公共自行車數（實驗中）     137491 non-null object
有身份限制？             137491 non-null object
有性別限制？             137491 non-null object
性別限制               137491 non-null int64
可炊？                137491 non-null object
可寵？                137491 non-null object
有產權登記？             137491 non-null object
刊登者類型              137491 non-null int64
最大刊登者編碼            137491 non-null object
仲介資訊               137490 non-null object
提供家具_床？            137491 non-null object
提供家具_桌子？           137491 non-null object
提供家具_椅子？           137491 non-null object
提供家具_電視？           137491 non-null object
提供家具_熱水器？          137491 non-null object
提供家具_冷氣？           137491 non-null object
提供家具_沙發？           137491 non-null object
提供家具_洗衣機？          137491 non-null object
提供家具_衣櫃？           137491 non-null object
提供家具_冰箱？           137491 non-null object
提供家具_網路？           137491 non-null object
提供家具_第四台？          137491 non-null object
提供家具_天然瓦斯？         137491 non-null object
提供家具_床？.1          137491 non-null object
提供家具_桌子？.1         137491 non-null object
提供家具_椅子？.1         137491 non-null object
提供家具_電視？.1         137491 non-null object
提供家具_熱水器？.1        137491 non-null object
提供家具_冷氣？.1         137491 non-null object
提供家具_沙發？.1         137491 non-null object
提供家具_洗衣機？.1        137491 non-null object
提供家具_衣櫃？.1         137491 non-null object
提供家具_冰箱？.1         137491 non-null object
提供家具_網路？.1         137491 non-null object
提供家具_第四台？.1        137491 non-null object
提供家具_天然瓦斯？.1       137491 non-null object
鄉鎮市區               137491 non-null object
dtypes: float64(2), int64(10), object(72)
memory usage: 89.2+ MB

In [33]:
pd.DataFrame({'租屋數':taipei_houserent_df.groupby('鄉鎮市區').size()}).reset_index().sort_values('租屋數', ascending= False)

   鄉鎮市區    租屋數
0   中山區  28354
8   大安區  18106
2   信義區  15441
3   內湖區  12949
6   士林區  12175
1   中正區   8795
10  松山區   8498
4   北投區   7960
9   文山區   6921
11  萬華區   6549
7   大同區   6471
5   南港區   5272

### 有缺失值需做處理

In [9]:
taipei_houserent_df = taipei_houserent_df.fillna(0)
taipei_houserent_df.head()

,additional_fee_cable_tv,additional_fee_eletricity,additional_fee_gas,additional_fee_internet,additional_fee_water,agent_org,allow_pet,apt_feature_code,building_type,can_cook,...,rough_coordinate_bb,sub_region,top_region,total_floor,transportation_bus,transportation_hsr,transportation_public_bike,transportation_subway,transportation_train,vendor
0,True,True,True,True,True,0,False,_01010201,0,True,...,"[25.0360616, 121.560653, 25.0360616, 121.560653]",1708,17,6,0.0,0.0,0.0,0.0,0.0,591 租屋網
1,False,False,False,False,False,0,True,0,1,True,...,"[25.0966454, 121.5401611, 25.0966454, 121.5401...",1706,17,1,2.0,0.0,0.0,1.0,0.0,591 租屋網
2,True,True,True,True,True,0,False,_01010302,2,True,...,"[24.9858373, 121.5671734, 24.9858373, 121.5671...",1709,17,8,3.0,0.0,0.0,0.0,0.0,591 租屋網
3,True,True,False,False,False,0,False,0,0,False,...,"[24.997309, 121.550884, 24.997309, 121.550884]",1709,17,5,2.0,0.0,0.0,1.0,0.0,591 租屋網
4,False,True,True,False,False,0,False,0,0,True,...,"[25.005247, 121.541557, 25.005247, 121.541557]",1709,17,4,2.0,0.0,0.0,1.0,1.0,591 租屋網

### 看資料分布，50% 和 max 差距不應該相差非常巨大，可以判斷有 Outlier，使用最簡單的超出三倍標準差概念將這些Outlier先去掉，避免對Model造成影響

In [4]:
taipei_houserent_df.describe()

,allow_pet,building_type,can_cook,contact,deal_status,deposit,deposit_type,dist_to_highest_floor,facilities_冰箱,facilities_冷氣,...,rough_coordinate_x,rough_coordinate_y,sub_region,top_region,total_floor,transportation_bus,transportation_hsr,transportation_public_bike,transportation_subway,transportation_train
count,65773.000000,65773.000000,65773.000000,65773.000000,65773.000000,6.577300e+04,65773.000000,65773.000000,65773.000000,65773.000000,...,65773.000000,65773.000000,65773.000000,65773.0,65773.000000,65773.000000,65773.0,65773.000000,65773.000000,65773.000000
mean,0.240904,1.330500,0.763033,1.388123,1.004181,6.760526e+04,0.208338,3.817478,0.768993,0.912289,...,24.764574,120.130650,1704.371840,17.0,9.114105,0.609490,0.0,0.014535,0.789747,0.106214
std,0.427636,0.931449,0.425225,0.886028,0.583139,7.849304e+04,0.610154,3.996577,0.421480,0.282876,...,2.684857,13.031839,3.591082,0.0,5.392614,1.101482,0.0,0.129681,0.687344,0.323613
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,-1.000000,0.000000,0.000000,...,0.000000,0.000000,1700.000000,17.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000e+04,0.000000,1.000000,1.000000,1.000000,...,25.034954,121.523791,1701.000000,17.0,5.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,0.000000,2.000000,1.000000,2.000000,1.000000,4.999800e+04,0.000000,3.000000,1.000000,1.000000,...,25.050936,121.538301,1704.000000,17.0,8.000000,0.000000,0.0,0.000000,1.000000,0.000000
75%,0.000000,2.000000,1.000000,2.000000,1.000000,9.000000e+04,0.000000,6.000000,1.000000,1.000000,...,25.067330,121.563274,1708.000000,17.0,13.000000,1.000000,0.0,0.000000,1.000000,0.000000
max,1.000000,6.000000,1.000000,2.000000,2.000000,5.200000e+06,3.000000,70.000000,1.000000,1.000000,...,25.856747,123.985746,1711.000000,17.0,77.000000,8.000000,0.0,6.000000,4.000000,4.000000

In [5]:
# 找出最大值和 50% 相差過大的欄位
for column_name in taipei_houserent_df.describe().columns:
    if taipei_houserent_df.describe()[column_name]['max'] - taipei_houserent_df.describe()[column_name]['50%'] > 10:
        print(column_name)

deposit
dist_to_highest_floor
floor
floor_ping
monthly_management_fee
monthly_price
n_day_deal
per_ping_price
total_floor