# 倍數的個數與總和
撰寫一程式，讓使用者輸入兩個正整數 a, b (a <= b)

輸出這兩個正整數 (包含) 間 7 或 11 的倍數 (一列輸出 10 個數字，欄寬為 4，靠左對齊)

以及倍數的個數與總和

In [1]:
print('請輸入 a, b 兩數，a 請小於等於 b')
a = int(input('請輸入 a:'))
b = int(input('請輸入 b:'))

while a > b:
    a = int(input('叫你 a <= b 聽不懂？剛剛設定 b = {}，重輸入 a:'.format(b)))

請輸入 a, b 兩數，a 請小於等於 b
請輸入 a:1000
請輸入 b:500
叫你他媽的 a <= b 聽不懂？剛剛設定 b = 500，重輸入 a:10

In [2]:
num_list = []
for num in range(a, b+1):
    if num%7 == 0 or num%11 == 0:
        num_list.append(num)
num_list

[11,
 14,
 21,
 22,
 28,
 33,
 35,
 42,
 44,
 49,
 55,
 56,
 63,
 66,
 70,
 77,
 84,
 88,
 91,
 98,
 99,
 105,
 110,
 112,
 119,
 121,
 126,
 132,
 133,
 140,
 143,
 147,
 154,
 161,
 165,
 168,
 175,
 176,
 182,
 187,
 189,
 196,
 198,
 203,
 209,
 210,
 217,
 220,
 224,
 231,
 238,
 242,
 245,
 252,
 253,
 259,
 264,
 266,
 273,
 275,
 280,
 286,
 287,
 294,
 297,
 301,
 308,
 315,
 319,
 322,
 329,
 330,
 336,
 341,
 343,
 350,
 352,
 357,
 363,
 364,
 371,
 374,
 378,
 385,
 392,
 396,
 399,
 406,
 407,
 413,
 418,
 420,
 427,
 429,
 434,
 440,
 441,
 448,
 451,
 455,
 462,
 469,
 473,
 476,
 483,
 484,
 490,
 495,
 497]

In [3]:
n = 10
for b in [num_list[i:i + n] for i in range(0, len(num_list), n)]:
    print('%-4d '*len(b)%tuple(b))
    #print(b)

11   14   21   22   28   33   35   42   44   49
55   56   63   66   70   77   84   88   91   98
99   105  110  112  119  121  126  132  133  140
143  147  154  161  165  168  175  176  182  187
189  196  198  203  209  210  217  220  224  231
238  242  245  252  253  259  264  266  273  275
280  286  287  294  297  301  308  315  319  322
329  330  336  341  343  350  352  357  363  364
371  374  378  385  392  396  399  406  407  413
418  420  427  429  434  440  441  448  451  455
462  469  473  476  483  484  490  495  497

In [4]:
sum(num_list)

27653