In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import cufflinks as cf
import seaborn as sns
#可以製作互動式圖表的套件
# import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot,init_notebook_mode
#為可以將pandas和plotly結合的套件
# import cufflinks
# cufflinks.go_offline(connected=True)
# init_notebook_mode(connected=True)

In [10]:
calendar = pd.read_csv('/Users/john.tung/Downloads/Airbnb/calendar.csv')
print(calendar.date.nunique() , '天的資料及' , calendar.listing_id.nunique() ,'個不同的清單在我們的 calendar 中')
print('資料起始日：', calendar.date.min(),'資料最後日：' , calendar.date.max())
calendar.head()

366 天的資料及 10120 個不同的清單在我們的 calendar 中
資料起始日： 2019-09-30 資料最後日： 2020-09-29

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,68396,2019-09-30,f,"$1,552.00","$1,552.00",7.0,365.0
1,68396,2019-10-01,f,"$1,552.00","$1,552.00",7.0,365.0
2,68396,2019-10-02,f,"$1,552.00","$1,552.00",7.0,365.0
3,68396,2019-10-03,f,"$1,552.00","$1,552.00",7.0,365.0
4,68396,2019-10-04,f,"$1,552.00","$1,552.00",7.0,365.0